body
{
    background-image: url("assets/ISTCopy.jpg");
    display: flex;
    justify-content: center;
}
.main-card
{
    background-color: white;
    width: 500px;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.top-section
{
    margin-top: 48px;

    display:flex;
    flex-direction: column;
    justify-content: center;
}
.top-section h1
{
    margin-top: 0px;
    margin-bottom: 26px;
}
.top-section img
{
    width: 175px;
    height: 65px;
}
#username-input 
{
   border: 0px none;
   border-bottom:1px solid #0080e9 ;
   padding-bottom: 14px;
}
.button-area
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}
.back-btn
{
    background-color: #CCCCCC;
    color: black;
    height: 38px;
    width: 121px;
}
.next-btn
{
    background-color: #0066B8;
    width: 121px;
    height: 38px;
    color: white;
}
.bottom-section 
{
    font-size: 15px;
    padding: 20px;
    background-color: #F2F2F2;
    margin-top: 50px;
    height: 50px;
}